<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    
    <!-- MathJax script for rendering LaTeX equations -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          displayMath: [['$$','$$'], ['\\[','\\]']],
          processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] },
      TeX: {
          extensions: ["AMSmath.js", "AMSsymbols.js"],
          Macros: {
              bra: ["{\\langle #1 \\vert}", 1],
              ket: ["{\\vert #1 \\rangle}", 1],
              braket: ["{\\langle #1 \\vert #2 \\rangle}", 2]
          }
      }
  });
</script>



  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    
    <main>
      {{ content }}
    </main>
    
    <footer>
      <p>Rajesh Kumar &copy; {{ site.time | date: '%Y' }} <a href="https://rajeshphy.github.io" style="color: #FFFFE0;">rajeshphy.github.io</a>  </p>
    </footer>
  </body>
</html>
